*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
app/libs/
wiaDevelopersDivarLib/build/.transforms/01a000af8e308fefb04a206fd86ac58c/
wiaDevelopersDivarLib/build/.transforms/0ff7b01562ddeb223de2a9a9690f11cf/
wiaDevelopersDivarLib/build/.transforms/1b01778839e84063a6515f672a6500d5/
wiaDevelopersDivarLib/build/.transforms/1c5743a54bcd4a1aee3db9ef79196491/
wiaDevelopersDivarLib/build/.transforms/21727ce81488e4665de2c372a2d373a9/
wiaDevelopersDivarLib/build/.transforms/251d41ead4db9bc8c774c7adedd9aa7c/
wiaDevelopersDivarLib/build/.transforms/2ebecb648b30b621c8863f1ebd0c6630/
wiaDevelopersDivarLib/build/.transforms/3b7ae6c84022f7e09b0783d75271a4b9/
wiaDevelopersDivarLib/build/.transforms/3c87a39a4118e44e08ba4a47439f1290/
wiaDevelopersDivarLib/build/.transforms/3db636bd8d2d428f902f2da8019bff18/
wiaDevelopersDivarLib/build/.transforms/3e44b35a25a8ee4bc20727797bfe0b4a/
wiaDevelopersDivarLib/build/.transforms/4a836506871d3f612b1cda9dd9d0ab14/
wiaDevelopersDivarLib/build/.transforms/4e38f3c4c2e3fe1d1e6b44b5922fa424/
wiaDevelopersDivarLib/build/.transforms/4f4a3a1ac7d1379c64748588288798e4/
wiaDevelopersDivarLib/build/.transforms/512ab1f474174b7575d94f9f1e929131/
wiaDevelopersDivarLib/build/.transforms/5337e5fbf33cd7dbd15e9cdf55f9b958/
wiaDevelopersDivarLib/build/.transforms/5524cb23e9e08d54f734c3cce50baddf/
wiaDevelopersDivarLib/build/.transforms/5f32db7befa0ab905667fa5fc5c38eaf/
wiaDevelopersDivarLib/build/.transforms/613d903e5b286686df65819a9d97ed99/
wiaDevelopersDivarLib/build/.transforms/6d0a7d9218c6c4a61cbe6911f8a558dd/
wiaDevelopersDivarLib/build/.transforms/76bda76fee23e4df14cbb5e24c9e0bfa/
wiaDevelopersDivarLib/build/.transforms/870282e008fa5b392bb246abe9e3dd23/
wiaDevelopersDivarLib/build/.transforms/8ce22e1ff4b13d3dc10e6e605a948894/
wiaDevelopersDivarLib/build/.transforms/9947d795c233b0254af6505310119a8e/
wiaDevelopersDivarLib/build/.transforms/99788b31f4c63f6828a66d5225d53aac/
wiaDevelopersDivarLib/build/.transforms/9e567d142829dffabd509500eca3186e/
wiaDevelopersDivarLib/build/.transforms/a764c7935df4235ab53f73f960f7d64e/
wiaDevelopersDivarLib/build/.transforms/b05d59b68bfda5ba64f97920c7770b3e/
wiaDevelopersDivarLib/build/.transforms/b0b7f205c34c9bb96afd55b79f9a662b/
wiaDevelopersDivarLib/build/.transforms/b5e9e6af473e8bf1d392cb48ee40876c/
wiaDevelopersDivarLib/build/.transforms/b691e2b0b7c3005a72b663033d895d4a/
wiaDevelopersDivarLib/build/.transforms/b9416145de78b0ebb075f480d398c51f/
wiaDevelopersDivarLib/build/.transforms/bebe5328d342891ea0fc657e3d85ceed/
wiaDevelopersDivarLib/build/.transforms/c2fa47396a528583403789792fdac23c/
wiaDevelopersDivarLib/build/.transforms/c9dc7cd1c55d74914ed75d76ab32c3a0/
wiaDevelopersDivarLib/build/.transforms/cfd898fc1c16b304703d740fbbd05ca5/
wiaDevelopersDivarLib/build/.transforms/d4a486e15d04f5dc683432b9ebcba1f5/
wiaDevelopersDivarLib/build/.transforms/d9a5b5fd3d476e918c0f3c7b7c536f9a/
wiaDevelopersDivarLib/build/.transforms/ec2b0adc016b97100e18453b2dbde5ca/
